{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Smart Tasks</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="">
			<nav class="h-16 flex items-center space-x-8 bg-blue-400 py-10 pl-32 relative">
				<h2 class="text-3xl font-extrabold">Smart Tasks</h2>
				<ul class="absolute right-32">
					<li class="inline-block mr-7">
						<a href="{% url 'home_page' %}" class="text-white text-xl p-2">Home</a>
					</li>
					<!-- <li class="inline-block mr-7">
						<a href="{% url 'tasks.create' %}" class="text-white text-xl p-2">Create Task</a>
					</li> -->
					<li class="inline-block">
						<a href="{% url 'logout' %}" class="text-white text-xl p-2">Logout</a>
					</li>
				</ul>
			</nav>
			<div class="bg-indigo-100 w-full h-screen relative">

			{% block content %}
	
			{% endblock %}
			</div>
	</body>
</html>
